h1{
	font-size: 64px;
	text-align: center;
}

h2{
	font-size: 30px;
	text-shadow: 5px 5px 2px #808080;
}

p{
	font-size: 24px;
	padding: 20px 0px 0px 0px;
}

body{
	color: #ffffff;
	background: #101010;
	font-family: Lucida Grande, sans-serif;
}

img{
	display:block;
	width:525px;
	margin: 0 auto;
}

* div{
	height:150px;
	padding:20px;
}

#red{
	background:#eb4034;
	text-align:right;
}

#blue{
	background:#3493eb;
	text-align:left;
}

#yellow{
	background:#fff829;
	text-align:right;

}
#yellow > h2, #yellow > p{
	color:black;
	text-shadow: 5px 5px 2px #c7e2c7;
}

#green{
	background:#0C6419;
	text-align:left;
}

footer{
	text-align:right;
	padding: 0px 10px 10px 0px;
}
