body{
	text-align: center;
	background-image: url('images/concrete_seamless.png');
}

/*--------INDEX PAGE---------*/
.heading{
	background: rgb(175,170,0);
	background: radial-gradient(circle, rgba(175,170,0,1) 31%, rgba(0,91,249,1) 62%);
	text-align: center;
	font-size: 28px;
}

#home:link, #about:link, #projects:link, #contact:link, #resume:link{
	color: white;
	text-decoration: none;
	font-family: 'Source Code Pro', monospace;
	font-size: 32px;
}

#home:visited, #about:visited, #projects:visited, #contact:visited, #resume:visited{
	color: red;
	text-decoration: none;
	font-family: 'Source Code Pro', monospace;
}

#home:hover, #about:hover, #projects:hover, #contact:hover, #resume:hover{
	color: yellow;
}

#navigation{
	padding: 20px;
}

#profile{
	height: 400px;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
}

h1{
	display: flex;
	justify-content: center;
	color: white;
	margin-top: auto;
	font-family: 'Pacifico', cursive;
}

.intro{
	text-align: center;
	font-size: 20px;
	font-family: 'Source Code Pro', monospace;
	
}

footer{
	text-align: center;
	background-color: black;
	color: white;
	position: relative;
}
/*------------ABOUT ME PAGE-------------*/

#about_me_main{
	display: grid;
	grid-template-columns: auto auto;
}

#about_me_header{
	grid-column: 1/ span 3;
}

.about_me{
	text-align: left;
	grid-column: 1;
	grid-row: 1;
	font-family: 'Source Code Pro', monospace;
}

.about_me2{
	text-align: right;
	font-family: 'Source Code Pro', monospace;
	grid-column: 2;

}

#about_me_footer{
	grid-column: 1/4;
}

.um_logo{
	grid-row: 1;
	grid-column: 2;
	justify-self: center;
	opacity: 0.3;
}

.um_logo:hover{
	opacity: 1;
	transition: 1s ease-out;
}

.schoolcraft_logo{
	grid-row: 1;
	grid-column: 2;
	justify-self: end;
	opacity: 0.3;
}

.schoolcraft_logo:hover{
	opacity: 1;
	transition: 1s ease-out;
}








/*--------SKIP TO MAIN CONTENT----------*/
a.skip{
  background: white;
  left: 0;
  padding: 6px;
  position: absolute;
  top: -40px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
}

a.skip:focus{
  top:20px;
  color: black;
  text-decoration-style: solid;
}


/*----------RESUME PAGE-----------*/

.resume_image{
	width: 200px;
	height: 200px;
	margin-right: auto;
	margin-left: auto;
}


/*-----------PROJECTS PAGE--------------*/

#project_gallery{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
}

/*-------------INDIVIDUAL GALLERY IMAGES--------------
*/

.foodquest1{
	filter: grayscale(1);
}

.foodquest2{
	filter: hue-rotate(45deg);
}

.foodquest3{
	filter: blur(1px);
}

.foodquest5{
	filter: saturate(125%);
}

.foodquest6{
	filter: hue-rotate(270deg);
}

.foodquest_intro{
	font-family: 'Source Code Pro', monospace;
	text-align: center;
}

.foodquest{
	height:400px;
}




@media screen and (max-width: 850px){
	.foodquest_graph{
		transform: rotate(0deg);
	}

}







