body{
	text-align: center;
}

/*---------INDEX PAGE------------
*/

.heading{
	background-color: blue;
	text-align: center;
}

#home:link, #about:link, #projects:link, #contact:link, #resume:link{
	color: white;
}

#home:visited, #about:visited, #projects:visited, #contact:visited, #resume:visited{
	color: red;
}

#navigation{
	padding: 10px;
}


#profile {
	height: 400px;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
}

#name{
	display: flex;
	justify-content: center;
	color: white;
}

a.skip{
  background: white;
  left: 0;
  padding: 6px;
  position: absolute;
  top: -40px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
}

a.skip:focus{
  top:20px;
  color: black;
  text-decoration-style: solid;
}

.intro{
	text-align: center;

}

.resume_image{
	width: 200px;
	height 200px;
	margin-right: auto;
	margin-left: auto;
}


@media screen and (min-width: 850px){
	#profile{
		margin-left: auto;
	}

	.intro{
		margin-right: auto;
	}

}











